.lnkpanel li:hover{border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-color:rgb(15, 16, 31);border-top-style:none;border-right-style:none;border-bottom-style:none;}

.proppanel li:hover,.rtimepanel li:hover{border-left-color:rgb(132, 63, 160);}

body{background-color:rgb(22, 23, 25);font:400 0.813em/1.38 Lato;color:rgb(163, 166, 166);}

.append ul{padding:10px 10px 20px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(22, 23, 37);}

.code ul{position:relative;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(59, 55, 85);overflow:auto;}

.condition input{width:19.3347537878%;margin-left:1.9399%;}

.conditions ul{padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(26, 27, 42);}

.condlst li{width:100%;padding:10px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-color:rgb(22, 23, 25);border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-radius:3px;background-color:rgb(35, 36, 56);}

.desc textarea{height:70px;background-color:rgb(28, 29, 45);}

.ecodeh-lst li{clear:both;width:89.9950223992%;margin:9px 0 0 6.17986%;padding:10px 8px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-color:rgb(22, 23, 25);border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-radius:3px;background-color:rgb(35, 36, 56);}

.ecodeh-lst select{width:38.6643233743%;margin-left:2.37363%;}

.editor section{clear:both;padding:6px;}

.end h4{margin:4px 0 0 5.76025%;color:rgb(47, 59, 82);}

.entities section{clear:both;overflow:visible;}

.entities ul{max-height:200px;margin-top:6px;overflow:auto;}

.execution h4{position:relative;z-index:13;margin:8px 0 0 5.81956%;color:rgb(31, 142, 250);}

.execution ul{width:94.2216981132%;margin:9px 0 0 12px;}

.exitcodes li{padding:10px 8px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-color:rgb(22, 23, 25);border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-radius:3px;background-color:rgb(35, 36, 56);}

.exitcodes ul{padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(24, 25, 39);}

.header select{width:27.1522217653%;margin-left:2.5820599999%;border-color:rgb(30, 31, 48);}

.header-8 h3{margin-left:14.15385%;font-size:1.077em;font-weight:700;text-align:center;color:rgb(171, 170, 170);}

.item select{border-color:rgb(53, 49, 75);}

.item-5 input{width:19.3347537878%;margin-left:2.03739%;}

.items input{width:13.8168547122%;margin-left:1.7943%;}

.items li{width:100%;}

.linkages h3{margin-left:8px;padding-right:4px;padding-left:4px;font-size:1em;color:rgb(163, 166, 166);}

.linkages li{position:relative;width:100%;padding-top:8px;padding-bottom:8px;border-left-color:rgb(32, 33, 51);}

.lnkpanel article{border-top:1px solid rgb(22, 23, 37);}

.post-execution h4{position:relative;z-index:7;margin:8px 0 0 5.81956%;color:rgb(31, 142, 250);}

.execution li,.post-execution li{margin-left:5.01084%;}

.post-execution ul{width:94.2216981132%;margin:6px 0 0 12px;}

.pre-execution h4{position:relative;z-index:19;margin:3px 0 0 4.76723%;color:rgb(31, 142, 250);}

.pre-execution ul{width:94.6682464454%;min-height:20px;margin:6px 0 0 11px;}

.preitems li{margin-left:6.08689%;}

.stages h3{margin-left:3.89004%;font-size:1.077em;font-weight:700;color:rgb(171, 170, 170);}

.stages section{height:49px;padding-top:15px;padding-bottom:15px;border-top-right-radius:3px;background-color:rgb(11, 12, 18);}

a{display:block;float:left;padding-top:4px;padding-bottom:4px;font-size:1.077em;color:rgb(104, 94, 155);}

.items .add:hover,a:hover{font-weight:700;}

article{float:left;padding:10px 20px;background-color:rgb(17, 18, 35);font-size:1em;font-weight:300;color:rgb(105, 105, 105);}

button{display:block;float:left;height:28px;margin-left:1.08829%;padding-right:5px;padding-left:5px;font-style:italic;font-size:0.923em;font-weight:700;text-align:center;color:rgb(161, 160, 160);}

button:hover{background-color:rgba(89, 60, 94, 0.56);}

button:active{background-color:rgb(89, 60, 94);}

button:focus{border:1px solid rgb(32, 35, 51);background-color:rgb(89, 60, 94);}

footer{float:left;clear:both;width:100%;min-width:60px;height:68px;background-color:rgb(101, 125, 149);}

h1{float:left;margin:17px 0 0 1px;padding-right:12px;padding-left:10px;font-family:'Open Sans';font-size:1.538em;font-weight:800;color:rgb(179, 179, 179);}

h2{float:left;margin:19px 0 0 0.61198%;padding:2px 4px;font-family:'Open Sans';font-size:1.077em;font-weight:600;color:rgb(128, 128, 128);}

h3{float:left;}

h4{float:left;letter-spacing:2px;}

header{float:left;width:100%;height:61px;border-bottom:1px solid rgb(52, 52, 54);background:rgb(11, 12, 18);background:-webkit-linear-gradient(298deg, rgb(11, 12, 18) 0%, rgb(92, 11, 81) 100%) rgb(222, 222, 222);background:-moz-linear-gradient(298deg, rgb(11, 12, 18) 0%, rgb(92, 11, 81) 100%) rgb(222, 222, 222);background:-o-linear-gradient(298deg, rgb(11, 12, 18) 0%, rgb(92, 11, 81) 100%) rgb(222, 222, 222);background:-ms-linear-gradient(298deg, rgb(11, 12, 18) 0%, rgb(92, 11, 81) 100%) rgb(222, 222, 222);background:linear-gradient(152deg, rgb(11, 12, 18) 0%, rgb(92, 11, 81) 100%) rgb(222, 222, 222);}

hgroup{float:right;width:40px;height:40px;margin:12px 30px 0 0;border:1px solid rgb(128, 128, 128);border-radius:180px;background:url('../images/Ricky%20Metzger.png') rgba(145, 145, 145, 0);background-repeat:no-repeat;background-size:contain;background-position:center center;opacity:0.9;}

input{display:block;float:left;}

label{display:block;float:left;width:96.1733356631%;height:22px;margin-left:3.50581%;}

label input{margin-top:3px;}

li{float:left;}

li h4{font-size:0.923em;}

li input{height:27px;margin-top:1px;padding:0 10px;border:1px solid rgb(53, 49, 75);border-radius:3px;background-color:rgb(53, 49, 75);font-size:1em;color:rgb(163, 166, 166);}

li li{width:94.1176470588%;}

li ul{border-left:4px solid rgb(47, 59, 82);border-top-left-radius:3px;border-bottom-left-radius:3px;}

section{float:left;width:100%;}

section h4{position:relative;margin-top:7px;font-family:Roboto;font-size:0.769em;color:rgb(104, 94, 155);}

section li{border-left-width:1px;border-left-style:solid;}

section ul{width:100%;}

select{display:block;float:left;height:28px;padding-left:10px;border-width:1px;border-style:solid;border-radius:3px;background:url('../images/select-arrows.svg') rgb(53, 49, 75);background-repeat:no-repeat;background-size:auto auto;background-position:right center;font-size:1em;color:rgb(163, 166, 166);}

li input:focus,select:focus{border-color:rgb(92, 132, 253);}

span{display:block;float:left;margin-left:6px;font-size:1em;font-weight:300;color:rgb(163, 166, 166);}

textarea{display:block;float:left;width:100%;padding:10px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;font-size:1em;font-weight:300;color:rgb(163, 166, 166);resize:none;}

textarea:focus{border:1px solid rgb(92, 132, 253);}

ul{float:left;clear:both;}

ul textarea{position:relative;z-index:72;height:160px;background-color:rgb(26, 27, 42);}

.append,.conditions,.exitcodes,.handling{float:left;clear:both;width:100%;margin-top:15px;border:1px solid rgb(59, 55, 85);border-radius:3px;}

.append .cond{margin-left:0.76764%;}

.append .header,.code .header,.description .header,.exitcodes .header,.handling .header{position:relative;float:left;width:100%;padding-top:10px;padding-bottom:10px;border-top-left-radius:3px;border-top-right-radius:3px;background-color:rgb(59, 55, 85);box-shadow:0 2px 5px rgba(0, 0, 0, .5);}

.caption{float:left;margin:4px 0 0 9.18873%;font-size:1em;font-weight:300;color:rgb(167, 167, 167);}

.clean{width:15px;height:15px;opacity:0.7;overflow:hidden;}

.clear{position:absolute;top:13px;right:12px;z-index:65;width:15px;height:15px;opacity:0.7;overflow:hidden;}

.code{width:100%;}

.code .clean{float:right;margin:5px 12px 0 0;}

.code .icon{float:left;width:16px;height:16px;margin:6px 0 0 11px;}

.code .title{float:left;margin:6px 0 0 0.76283%;padding-right:4px;padding-left:4px;font-size:1em;color:rgb(163, 166, 166);}

.cond{float:left;margin-top:2px;padding-right:4px;padding-left:4px;font-size:1em;color:rgb(163, 166, 166);}

.condition .remove{float:left;margin:6px 0 0 0.95966%;}

.conditions .clean{position:absolute;top:13px;right:12px;z-index:91;}

.conditions .header{position:relative;float:left;width:100%;padding-top:10px;padding-bottom:10px;background-color:rgb(59, 55, 85);box-shadow:0 2px 5px rgba(0, 0, 0, .5);}

.counter{float:left;padding-right:2px;padding-left:2px;font-size:1em;font-weight:700;color:rgb(163, 166, 166);}

.description{float:left;width:100%;border:1px solid rgb(59, 55, 85);border-radius:3px;overflow:visible;}

.description .clean{float:right;margin:2px 12px 0 0;}

.description .desc{float:left;clear:both;width:100%;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgba(59, 55, 85, 0.79);overflow:auto;}

.description .icon{float:left;width:16px;height:16px;margin:2px 0 0 11px;}

.description .title{float:left;margin:1px 0 0 0.76283%;padding-right:4px;padding-left:4px;font-size:1em;color:rgb(163, 166, 166);}

.down{position:absolute;top:17px;right:11px;width:15px;height:15px;opacity:0.7;overflow:hidden;}

.ecodeh-lst .if{margin-left:1.45609%;}

.edit{position:absolute;top:17px;right:55px;width:15px;height:15px;opacity:0.7;overflow:hidden;}

.end{clear:both;width:57.0754716981%;margin:5px 0 0 1.83636%;}

.end .icon{float:left;width:22px;height:22px;margin-top:1px;}

.entities{float:left;border-style:solid;}

.entities .add{position:absolute;top:17px;right:76px;width:15px;height:15px;opacity:0.7;overflow:hidden;}

.entity{margin-left:5.96744%;}

.execution .icon{position:relative;float:left;z-index:14;width:22px;height:22px;margin-top:5px;}

.conditions .icon,.exitcodes .icon,.wrapper-1,.wrapper-4{float:left;width:16px;height:16px;margin:3px 0 0 11px;}

.conditions .title,.exitcodes .title{float:left;margin:2px 0 0 0.76283%;padding-right:4px;padding-left:4px;font-size:1em;color:rgb(163, 166, 166);}

.handling .cond{margin-left:0.76283%;}

.header .add{float:right;width:15px;height:15px;margin:3px 33px 0 0;opacity:0.7;overflow:hidden;}

.icon{overflow:hidden;}

.if{float:left;margin-top:6px;font-size:1em;color:rgb(199, 199, 199);}

.info{float:left;width:18px;height:18px;margin:22px 0 0 4px;overflow:hidden;}

.item .remove{float:right;margin:6px 10px 0 0;}

.items .add{float:left;padding-top:4px;padding-bottom:4px;font-size:1.077em;color:rgb(104, 94, 155);}

.items .if{margin-left:1.45691%;}

.lang{float:left;width:15px;height:15px;margin:5px 0 0 7px;opacity:0.7;overflow:hidden;}

.linkage .remove{position:absolute;top:0;bottom:0;right:2.8663967611%;margin:auto 0;}

.linkages .counter{margin-left:5px;}

.linkages .header{position:relative;float:left;width:100%;padding-top:10px;padding-bottom:10px;border-bottom:1px solid rgb(17, 18, 35);background-color:rgb(59, 55, 85);}

.linkages .icon{float:left;width:16px;height:16px;margin-left:11px;}

.lnkpanel{position:relative;float:left;clear:both;width:100%;border-bottom:4px solid rgb(17, 18, 35);border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(17, 18, 35);overflow:auto;}

.lnkpanel .add{z-index:158;}

.lnkpanel .down{z-index:155;}

.lnkpanel .edit{z-index:157;}

.lnkpanel .entity{z-index:160;}

.lnkpanel .remove{z-index:148;}

.lnkpanel .up{z-index:156;}

.lnkpanel .view{z-index:159;}

.logo{float:left;width:32px;height:32px;margin:13px 0 0 1.91146%;overflow:hidden;}

.main{float:left;clear:both;width:100%;margin-top:3px;padding-bottom:10px;}

.name{float:left;margin:4px 0 0 5.08967%;font-size:1em;font-weight:300;color:rgb(167, 167, 167);}

.output{float:left;clear:both;width:99.8454404945%;height:20px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(24, 25, 39);}

.parms{position:absolute;top:11px;right:16px;z-index:73;width:15px;height:15px;opacity:0.7;overflow:hidden;}

.execution,.post-execution{clear:both;width:99.8820754716%;margin-top:6px;}

.post-execution .icon{position:relative;float:left;z-index:8;width:22px;height:22px;margin-top:5px;}

.pre-execution{width:99.4103773584%;margin-left:0.43688%;}

.pre-execution .icon{position:relative;float:left;z-index:20;width:22px;height:22px;}

.preview{float:right;width:40%;height:22px;margin:1px 28px 0 0;border-radius:3px;background-color:rgb(66, 60, 94);}

.preview:focus{border-width:2px;border-color:rgb(31, 142, 250);}

.linkages-1,.properties{background-color:rgb(17, 18, 35);}

.properties .counter{margin-left:3px;}

.properties .header{position:relative;float:left;width:100%;padding-top:10px;padding-bottom:10px;background-color:rgb(59, 55, 85);}

.properties .title{float:left;margin-left:4px;padding-right:4px;padding-left:4px;font-size:1em;color:rgb(163, 166, 166);}

.proppanel{float:left;clear:both;width:100%;padding-bottom:4px;background-color:rgb(17, 18, 35);}

.proppanel .add{z-index:141;}

.proppanel .desc{float:left;padding:10px 20px;border-top:1px solid rgb(22, 23, 37);background-color:rgb(17, 18, 35);font-size:1em;font-weight:300;color:rgb(105, 105, 105);}

.proppanel .down{z-index:138;}

.proppanel .edit{z-index:140;}

.proppanel .entity{z-index:143;}

.proppanel .remove{z-index:131;}

.proppanel .up{z-index:139;}

.proppanel .view{z-index:142;}

.remove{width:14px;height:16px;opacity:0.7;overflow:hidden;}

.add-9:hover,.clean:hover,.clear:hover,.down:hover,.edit:hover,.entities .add:hover,.header .add:hover,.lang:hover,.parms:hover,.remove:hover,.up:hover,.wrapper-2:hover,.wrapper-3:hover,.wrapper-5:hover,.wrapper-6:hover{opacity:1;}

.rtimepanel{float:left;clear:both;width:100%;padding-bottom:4px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:rgb(17, 18, 35);overflow:auto;}

.rtimepanel .add{z-index:117;}

.rtimepanel .down{z-index:114;}

.rtimepanel .edit{z-index:116;}

.lnkpanel .entities,.proppanel .entities,.rtimepanel .entities{position:relative;clear:both;width:100%;padding:10px 3px 14px;border-width:4px;border-color:rgb(17, 18, 35);border-radius:8px;background-color:rgb(32, 33, 51);overflow:auto;}

.rtimepanel .entity{z-index:119;}

.rtimepanel .remove{z-index:107;}

.rtimepanel .up{z-index:115;}

.rtimepanel .view{z-index:118;}

.runtime .counter{margin-left:6px;}

.runtime .header{position:relative;float:left;width:100%;padding-top:10px;padding-bottom:10px;border-top:1px solid rgb(22, 23, 37);border-bottom:1px solid rgb(22, 23, 37);background-color:rgb(59, 55, 85);}

.properties .icon,.runtime .icon{float:left;width:16px;height:16px;margin:1px 0 0 11px;}

.runtime .title{float:left;margin-left:5px;padding-right:4px;padding-left:4px;font-size:1em;color:rgb(163, 166, 166);}

.separator{float:left;clear:both;width:92%;margin:16px 0 0 3.99342%;border-bottom:1px solid rgb(59, 55, 85);background-color:rgb(222, 222, 222);box-shadow:0 0 5px rgba(0, 0, 0, .5);}

.stages .stages{width:90.1130319148%;margin:21px 0 0 5.4981%;}

.subtitle{float:left;margin:6px 0 0 0.73024%;border-radius:3px;font-size:0.923em;font-weight:700;color:rgb(201, 163, 5);}

.titlenav{float:left;width:70px;height:24px;margin:2px 0 0 0.82682%;border-radius:6px;background-color:rgba(148, 19, 162, 0);}

.titlenav .editor{margin:2px auto 0;font-size:1.077em;font-weight:700;text-align:center;color:rgb(171, 170, 170);}

.topmav{float:left;width:100%;padding-top:10px;padding-bottom:10px;border-top-left-radius:6px;border-top-right-radius:6px;background-color:rgb(12, 13, 20);}

.topmav .icon{float:left;width:24px;height:24px;margin-left:15px;}

.total{float:left;margin:2px 0 0 0.45481%;font-size:1em;font-weight:900;color:rgb(222, 222, 222);}

.up{position:absolute;top:17px;right:33px;width:15px;height:15px;opacity:0.7;overflow:hidden;}

.view{margin-left:7.31749%;}

.wrapper{overflow:hidden;}

.add-9{float:right;clear:both;width:15px;height:15px;margin:91px 847px 0 0;opacity:0.7;overflow:hidden;}

.checkbox-label-1{margin-top:5px;}

.checkbox-label-2{clear:both;}

.code-1{float:left;clear:both;margin-top:15px;border:1px solid rgb(59, 55, 85);border-top-left-radius:3px;border-top-right-radius:3px;}

.editor-1{float:left;width:55.4438860971%;margin-left:0.2474%;padding-bottom:20px;border:1px solid rgb(0, 0, 0);border-radius:6px;background-color:rgb(34, 37, 54);}

.entities-1{width:24.2881072026%;margin-left:0.34115%;border-width:1px;border-color:rgb(0, 0, 0);border-top-left-radius:3px;background-color:rgb(29, 32, 47);}

.header-8{position:relative;float:left;width:100%;height:49px;padding-top:15px;padding-bottom:15px;border-top-left-radius:3px;background-color:rgb(11, 12, 18);}

.icon-1{float:left;width:24px;height:24px;margin-left:9px;}

.icon-11{position:absolute;top:0;bottom:0;left:10px;z-index:170;width:24px;height:24px;margin:auto 0;}

.stages-1{float:left;width:19.6817420435%;min-width:160px;height:600px;border:1px solid rgb(0, 0, 0);border-top-right-radius:3px;background-color:rgb(26, 27, 42);}

.wrapper-3{float:right;clear:both;width:15px;height:15px;margin:-16px 1.53528% 0 0;opacity:0.7;}

.wrapper-2,.wrapper-5{float:right;width:15px;height:15px;margin:3px 33px 0 0;opacity:0.7;}

.wrapper-6{position:absolute;top:13px;right:12px;z-index:47;width:15px;height:15px;opacity:0.7;}

.condition ._select-1{width:28.8494318181%;margin-left:1.0883%;border-color:rgb(30, 31, 48);}

.condition ._select-2{width:19.3347537878%;margin-left:1.73922%;border-color:rgb(53, 49, 75);}

.condition ._select-3{width:19.3347537878%;margin-left:1.85757%;border-color:rgb(53, 49, 75);}

.item ._select-5{width:19.3347537878%;margin-left:2.32594%;}

.item ._select-6{width:28.1271685214%;margin-left:1.80452%;}